@model ListaZaginionych.Models.LostPeopleViewModel;

@{
    ViewData["Title"] = "Dodaj";
}
<div class="col-md-10 mx-auto py-4">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Dodaj nowe ogłoszenie</h4>
        </div>
        <div class="card-body">
            
            <form enctype="multipart/form-data" asp-action="Add">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Gender" class="control-label"></label>
                            <select asp-for="Gender" class="form-control">
                                <option value="">Wybierz płeć</option>
                                <option value="Mężczyzna">Mężczyzna</option>
                                <option value="Kobieta">Kobieta</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Age" class="control-label"></label>
                            <input asp-for="Age" class="form-control" />
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="LastSeenLocation" class="control-label"></label>
                            <input asp-for="LastSeenLocation" class="form-control" />
                            <span asp-validation-for="LastSeenLocation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="LastSeenDate" class="control-label"></label>
                            <input asp-for="LastSeenDate" class="form-control" />
                            <span asp-validation-for="LastSeenDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label asp-for="Image" class="control-label"></label>
                            <div class="custom-file">
                                <input asp-for="Image" class="custom-file-input" id="customFile" accept=".png,.jpg,.jpeg,.gif,.tif"/>
                                <label class="custom-file-label">Wybierz zdjęcie</label>
                            </div>
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">  
                    <input type="submit" value="Dodaj" class="btn btn-sm btn-primary text-uppercase" />  
                    <a asp-action="Index" class="btn btn-sm btn-primary text-uppercase"><i class="fas fa-fast-backward"></i> Wróć do listy</a>  
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{  
    <script type="text/javascript">  
        // Add the following code if you want the name of the file appear on select  
        $(".custom-file-input").on("change", function () {  
            var fileName = $(this).val().split("\\").pop();  
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);  
        });  
    </script>  
}  
